@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --Green: hsl(148, 38%, 91%);
    --GreenDark: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(186, 15%, 59%);
    --GreyDark: hsl(187, 24%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--Green);
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extra{
    margin-left: 5px;
    color: var(--GreenDark);
}

.container{
    width: 700px;
    background-color: var(--White);
    padding: 40px;
    border-radius: 1.25rem;
    margin-bottom: 30px;
}
.container form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.v-flow{
    display: flex;
    flex-direction: column;
}

.h-flow{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.half{
    width: 50%;
}

.row{
    display: flex;
    align-items: center;
    gap: 12px;
}

.c-general, .c-support{
    height: 45px;
    padding-left: 20px;
    border: 0.1rem solid;
    border-radius: 5px;
    border-color: var(--Grey);
}

.label-gap, .query-header{
    margin-bottom: 10px;
}

label{
    font-size: 15px;
}

input[type='text'], [type='email']{
    width: 100%;
    height: 45px;
    border: 0.1rem solid;
    border-radius: 5px;
    border-color: var(--Grey);
    padding: 5px;
}

textarea{
    height: 120px;
    width: 100%;
}

.container-agreement{
    width: fit-content;
}

#btn-submit{
    margin-top: 30px;
    border-radius: 6px;
    padding: 18px 0;
    background-color: var(--GreenDark);
    color: var(--White);
    border: 0px;
}

.attribution{
    font-size: 11px;
    text-align: center;
}
.attribution a{ 
    color: hsl(228, 45%, 44%);
}



/* Error, hover, succcess */
input:hover{
    cursor: pointer;
    border-color: var(--GreenDark);
}

.c-general:hover, .c-support:hover, .container-agreement:hover{
    cursor: pointer;
}

.cgeneral:has(input[type='radio']:checked){

    background-color: black;
    border-color: var(--GreenDark);
}

#btn-submit:hover{
    cursor: pointer;
    background-color: var(--GreyDark);
}

input:focus{
    border-color: var(--GreenDark);
}